<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor Con Express Y Socket.IO</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <ul class="room" id="room1"></ul>
    <ul class="room" id="room2"></ul>
    <ul class="room" id="room3"></ul>

    <button id="connectRoomOne">Connect to Room 1</button>
    <button id="connectRoomTwo">Connect to Room 2</button>
    <button id="connectRoomThree">Connect to Room 3</button>

    <br>

    <button id="sendMessage">Send Message</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>